{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="card p-4 m-4">
            <div class="card-header">Edit Calendar</div>
            <div class="card-body">
                <form action="/update_calendar" method="post">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Current Name</label>
                                <select class="form-control" name="current_name" id="current_name">
                                    {% for calendar in calendars %}
                                    {% if calendar['name'] != 'personal' %}
                                    <option class="form-control" value="{{ calendar['name'] }}">{{
                                        calendar['name']}} </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>

                                <label>New Name</label>
                                <input type="text" name="new_calendar_name" class="form-control"
                                    placeholder="New calendar name" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a class="btn btn-danger" href="/">Discard Changes</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}